<h1 class="bg-primary text-white">Practice angular</h1>

<div>
  <table class="table">
    <thead>
      <tr>
        <th scope="col">ID</th>
        <th scope="col">Name</th>
        <th scope="col">Email</th>
        <th scope="col">Phone</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let student of students" [attr.id]="student.id">
        <td>{{ student.id }}</td>
        <td>{{ student.name }}</td>
        <td>{{ student.email }}</td>
        <td>{{ student.phone }}</td>
        <td>
          <button
            class="btn btn-primary"
            type="button"
            (click)="editstudent($event, student.id)"
          >
            edit
          </button>
        </td>
        <td>
          <button class="btn btn-danger" (click)="delete(student)">
            delete
          </button>
        </td>
      </tr>
    </tbody>
  </table>
</div>

<app-editstudent [student]="selectedStudent"></app-editstudent>

<div class="container mt-5 bg-success text-white p-5">
  <h1>ADD STUDENT TO DATABASE</h1>
  <form #addForm="ngForm" (ngSubmit)="addStudent(addForm)">
    <div class="form-group">
      <label for="id">ID</label>
      <input type="text" class="form-control" name="id" ngModel required />
    </div>
    <div class="form-group">
      <label for="name">Name</label>
      <input type="text" class="form-control" name="name" ngModel required />
    </div>
    <div class="form-group">
      <label for="email">Email</label>
      <input type="text" class="form-control" name="email" ngModel required />
    </div>
    <div class="form-group">
      <label for="phone">Phone</label>
      <input type="number" class="form-control" name="phone" ngModel required />
    </div>

    <button
      type="submit"
      class="btn btn-primary mt-3"
      [disabled]="!addForm.valid"
    >
      Submit
    </button>
  </form>
</div>
<router-outlet></router-outlet>
